
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h3>
                 @Html.ActionLink("click me to go to our Secret Page", "RedirectTest", null, new { Target = "_blank"})
            </h3>
        </center>
</div>
</body>
</html>
